@font-face {
  font-family: Niina;
  font-weight: 400;
  font-style: normal;
  src: url("niina-regular.woff2") format("woff2"),
    url("niina-regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: Niina;
  font-weight: 600;
  font-style: normal;
  src: url("niina-medium.woff2") format("woff2"),
    url("niina-medium.woff") format("woff");
  font-display: swap;
}
