@font-face {
  font-family: "Niina";
  src: url("Niina-Regular.eot");
  src: local("Niina Regular"), local("Niina-Regular"),
    url("Niina-Regular.eot?#iefix") format("embedded-opentype"),
    url("Niina-Regular.woff2") format("woff2"),
    url("Niina-Regular.woff") format("woff"),
    url("Niina-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Niina";
  src: url("Niina-Medium.eot");
  src: local("Niina Medium"), local("Niina-Medium"),
    url("Niina-Medium.eot?#iefix") format("embedded-opentype"),
    url("Niina-Medium.woff2") format("woff2"),
    url("Niina-Medium.woff") format("woff"),
    url("Niina-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
